<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - bangunkarya</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Beranda</a></li>
    		</ul>
		</nav>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:agan@naga.boxhost.me">email</a></li>
        		<li><a href="https://github.com/bangunkarya" rel="nofollow" target="_blank">github.com/bangunkarya</a></li>
			</ul>
		</footer>
	</body>
</html>
